.card {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 0 2em 0;
}

	.card article {
		padding: 1.75em 1.75em 0.1em 1.75em ;
		box-shadow: 2px 4px 16px 0;
		border-radius: 5px;
		margin: 1.5em 3em 1.5em 0;
		width: calc(50% - 1.5em);
	}

		.card article:nth-child(2n) {
			margin-right: 0;
		}

		.card article .image {
			border-radius: 5px 5px 0 0;
			display: block;
			margin-bottom: 1.75em;
			margin-left: -1.75em;
			margin-top: -1.75em;
			position: relative;
			width: calc(100% + 3.5em);
		}

			.card article .image img {
				border-radius: 5px 5px 0 0;
				width: 100%;
			}

	@media screen and (max-width: 980px) {

		.card article {
			margin: 1em 2em 1em 0;
			width: calc(50% - 1em);
		}

	}

	@media screen and (max-width: 736px) {

		.card article {
			padding: 1.5em 1.5em 0.1em 1.5em ;
			margin: 0.875em 1.75em 0.875em 0;
			width: calc(50% - 0.875em - 1px);
		}

			.card article .image {
				margin-bottom: 1.5em;
				margin-left: -1.5em;
				margin-top: -1.5em;
				width: calc(100% + 3em);
			}

	}

	@media screen and (max-width: 480px) {

		.card {
			display: block;
		}

			.card article {
				width: 100%;
				margin: 0 0 2em 0 !important;
			}

	}