<head>
  <link rel="icon" type="image/png" href={{ 'images/favicon.png'| url }} >
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="description" content="Triad template">
  <title>{{ page.title }}</title>
  <style>
    {% include '_site/css/style.css' %}
  </style>
</head>